# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
push_swap

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers

# Local files
Mkfile.old
dkms.conf
traces.txt
all_fives.sh
all_fours.sh
checker_Mac
log.txt
problematic_cases.txt
push_swap_test.sh
test.c
TESTING FUNCTIONS
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
local_stash.c
